@use '../base' as *;

footer{

    p{
        text-align: center;
        font-size: 12px;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 15px;
        list-style: none;

        a{
            text-decoration: none;
            font-size: 0.9em;
            
            &.active{
                color: $color-orange;
                text-decoration: underline;
            }

        }

    }

}