@use '../base' as *;

@mixin button{
    background-color: var(--btn-backgrond-color);
    color: var(--btn-text-color);
    border-radius: var(--btn-radius);
    border: var(--btn-border);
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
        background-color: var(--btn-backgrond-color-hover);
    }
}

.btn{

    &__primary{
        @include button;
        border-color: transparent;
    }

    &__secondary{
        @include button;
        background-color: var(--btn-second-backgrond-color);
        color: var(--btn-second-text-color);

        &:hover{
            background-color: var(--btn-second-backgrond-color-hover);
            color: var(--btn-second-text-color-hover);
        }
    }
}