$color-primary :    #01257D;
$color-secondary:   #202020;

$color-gray:        #ececf0;
$color-white:       #f3f3f5;
$color-orange:      #FF7A00;

$main-background-color: #f9f9f9;

$font-principal:    "Inter", sans-serif;
$font-title:        "DM Serif Display", serif;

$font-base:         1em;  //16px
$font-height:       1.6;

$font-weight:       400;
$font-bold:         700;

$bp-mobile:         480px;
$bp-tablette:       768px;
$bp-bureau:         1024px;
$bp-large:          1280px;

$max-with:          1200px;